<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:osgi="http://www.springframework.org/schema/osgi"
    xmlns:webflow="http://www.springframework.org/schema/webflow-config"

	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
		http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd">
		

	<!-- for detection of annotations for managed components -->
	<context:component-scan base-package="inf6.promed.deus" />

	<webflow:flow-registry id="flowRegistry">
		<webflow:flow-location path="/WEB-INF/flows/connect/connect.xml" />
	</webflow:flow-registry>

	<webflow:flow-executor id="flowExecutor" flow-registry="flowRegistry" />

	<!-- Enables FlowHandler URL mapping -->
	<!-- needed, if we would like to use flow handlers -->
	<bean class="org.springframework.webflow.mvc.servlet.FlowHandlerAdapter">
		<property name="flowExecutor" ref="flowExecutor" />
	</bean>


	<!-- Maps request paths to flows in the flowRegistry; e.g. a path of
		/hotels/booking looks for a flow with id "hotels/booking" 
		available since WebFlow 2.0.4
		-->
	<bean class="org.springframework.webflow.mvc.servlet.FlowHandlerMapping">
		<property name="flowRegistry" ref="flowRegistry" />
		<property name="order" value="0" />
	</bean>

</beans>
		