body{
	font-family: Arial,sans-serif;
	color: #333333;
	background: White;
	line-height: 1.166;	
	margin: 0px;
	padding: 0;
}

a:link, a:visited, a:hover {
	color: #006699;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana,Arial,sans-serif;
	/*margin: 0 0 0 0;*/
	/*padding-bottom: 5px;
	  padding-top: 7px;*/
	
	font-weight: bold;
}

h1{
 font-size: 130%;
 color: #334d55;
}

h2{
 font-size: 120%;
 color: #006699;
}

h3{
 font-size: 114%;
 color: #334455;
}

h4{
 font-size: 108%;
 color: #004477;
}

h5{
 font-size: 108%;
 color: #334d55;
}

ul{
 list-style-type: square;
}

ul ul, ol ul{
 list-style-type: disc;
}

ul ul ul, ol ul ul, ol ol ul{
 list-style-type: none;
}

label{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
}
				
a img {border: none;}

img.floatLeft{
	float: left;
}
img.floatRight{
	float: right;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

div#header{
   background-color: transparent;
	margin: 0;
	padding: 10px 0px;
	/*border-bottom: 1px solid #cccccc;*/ /* that's not compatible to anchors ...*/
	width: 100%;
	height: 50px;
	/* an additional padding of 20px is somehow needed for the other divs 
	   and I add additional 10px as "real" padding  (=> 80px) */
	
	position: absolute; /*fixed: cool ;-) -- absolute: better with anchors!!*/
}

div#navbarContainer{
	/*margin: 0 79% 0 0;*/
	width: 12em;
	padding: 0px;
	background-color: transparent;
	
	position: absolute; /* IE doesn't understand 'fixed', so it will fall-back here */
	padding: 80px 0 0 0;
}
/* This is supported by Opera and Mozilla.
   Because IE doesn't support 'fixed', we have to
	make sure that IE applies at least 'absolute'.
	If not, IE would totally ruin the layout.
	So because of IE we have to do all this sh** here.
*/ div#navbarContainerHack > div#navbarContainer{ position: fixed; }

div#content{
	float:left;
	width: auto;
	margin: 0;
	/*padding: 0 3% 0 0;*/
	
	padding: 80px 2em 2em 14em;
}



/***********************************************/
/*Component Divs                               */
/***********************************************/

/*************** special headings **************/
h1#siteName{
  font-size: 130%;
  color: #334d55;
  margin: 0px;
  padding: 0px 0px 10px 10px;
}

h1#pageName{
  font-size: 120%;
  color: #006699;
  margin: 0px;
  padding: 0px 0px 10px 10px;
}

/*************** logo styles **************/
div#content img.logo {
	margin: 4px 0 4px 0;
	vertical-align: middle;
}

/************** .story styles *****************/

div.story{
	clear: both;
	width: auto;
	padding: 10px 0px 0px 10px;
	/* smalling the font-size applies also for headings et al. */
	font-size: 80%;
}

div.story img, div.feature img {
	float: right;
	padding: 0px 10px 0px 10px;
	margin: 0 5px 5px 0;
}

/************** .feature styles ***************/

div.feature{
	padding: 0px 0px 10px 10px;
	font-size: 80%;
}

div.feature h1{
	padding: 30px 0px 5px 0px;
	text-align: center;
}

/************* #siteInfo styles ***************/

div#footer{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
	margin-top: 0px;
}

div#footer img{
	vertical-align: middle;
	margin: 0 10px 0px 10px;
}

/*********** #navbarContainer link styles ***********/

div.navbar h1{
  font-size: 114%;
  color: #334455;
  font-variant: small-caps;
  margin: 0 0 0 0;
  padding: 5px 0px 5px 20px;
}

div.navbar{
	background-color: #eeeeee;
	border: 1px solid #ccc;
	position: relative;
	font-size: 90%;
}
div#navbarContainer ul a:link, div#navbarContainer ul a:visited {display: block;}
div#navbarContainer ul { list-style: none; margin: 0; padding: 0;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
div#navbarContainer li {border-bottom: 1px solid #EEE;}

/* fix for browsers that don't need the hack */
html>body #navbarContainer li {border-bottom: none;}



div.navbar a {
	text-decoration: none;
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}
div.navbar a.thickLineTop {
	border-top: 2px groove #cccccc;
}
/* the first li-Element's a-Tag shall be without border */
div.navbar a.noborder {
	border-top: 0px none White;
}

/*********** #globalLinks styles ***********/
div#globalLinks{
	margin: 0px;
	padding: 0px;
}
div#globalLinks a:hover{
	background-color: #dddddd;
}
div#globalLinks h1{
  color: Black;
  background-color: #006699;
}
/*********** .anchorLinks styles ***********/
div#anchorLinks{
  margin-top: 20px;
}
div#anchorLinks a:hover{
	background-color: #dddddd;
}
div#anchorLinks h1{
  background-color: #B0E0E6;
}

/* ********** SubDomain styles *************/
div#domainChange{
  margin-bottom: 8px;
}
h2.domaining{
  color: Black;
	font-size: small;
	font-variant: small-caps;
	background-color: #A52A2A;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
}
div#domainChange a, div#domainChange a:hover{
   color: Black;
	border-top: 0px none Black;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div#domainChange a h2 {
	border: thin solid Black;
}

/* ------------------------------------------------------------------------ */

@media print {
body {
	color: Black;
	background-color: White;
	padding: 0em 0em 0em 0em; /* Room for navbar at the left side */
}

h1,h2,h3,h4,h5,h6 { color: Black; }

a:link { color: Black; }

div#header{ display: none; }
div.navbar { display: none; }
div#content{ padding: 0 0 0 0; }
div#footer { display: none; }
}
